body{
    margin-top: 80px;
}
.navbar {
    min-height: auto;
}
.navbar-brand{
    background: #f1f1f1;
    /*padding: 15px 75px;*/
    padding: 30px 70px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background: #f1f1f1;
}
.navbar-brand img{
    width: 120px;
}

.header_left{
    padding: 15px 50px;
    position: absolute;
    top: 0;
}
.header_left img{
    height: 50px;
}

@media (min-width: 768px) {
    .header_left{
        float: left;
        position: static;
        top: auto;
    }
    .header_right li {
        margin-left: 50px;
        margin-left: 10px;
    }
    .side-bar {
        position: absolute;
        background: #2B1E2C;
        width: 270px;
        top: 75px;
        left: 0;
        overflow: auto;
    }
    .side-bar ul {
        margin: 0 0 100px 0;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .header_right {
        margin: 25px 0 0 0;
    }
}

@media (min-width: 1200px) {}